.App {
  text-align: center;
  height: 100vh;
  display: flex;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#height-enter,
#weight-enter {
  display: none;
  color: red;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.calculator {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  padding: 2rem 1rem;
  background-color: #000000d0;
  width: 25%;
  min-height: 50%;
  margin: auto;
}

.calculator h1,
.calculator label, 
.calculator p {
  color: #fff;
}

.calculator input {
  margin: 1rem 0;
  padding: 0.5rem;
}

.calculator input:focus {
  outline: none;
}

#submit-button {
  background-color: #00e600;
  font-weight: bold;
  border: 0;
  border-radius: 5px;
  text-transform: uppercase;
  padding: 1rem 2rem;
}

#submit-button:hover {
  background-color: #00b300;
  cursor: pointer;
}

.calculator label,
#result span {
  font-weight: bold;
}

#result span {
  font-size: 1.2rem;
}

#height-enter,
#weight-enter {
  margin-top: 0;
  margin-bottom: 1rem;
}

@media only screen and (max-width: 1000px) {
  .calculator {
    width: 40%;
  }
}

@media only screen and (max-width: 700px) {
  .calculator h1 {
    font-size: 1.5rem;
  }

  .calculator {
    width: 80%;
  }
}
