.App {
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* #height-enter,
#weight-enter {
  display: none;
  color: red;
} */

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.calculator {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  padding: 2rem 1rem;
  background-color: #000000d0;
  width: 25%;
  min-height: 50%;
  margin: auto;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
}

.calculator h1,
.calculator label, 
.calculator p {
  color: #fff;
}

.calculator input {
  margin: 1rem 0;
  padding: 0.5rem;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  border: 1px solid #000000d0;
}

.calculator input:focus {
  outline: none;
}

.calculator .error-class {
  border: 1px solid #d93025;
  box-shadow: 0 .1rem 1rem #d93025;
  -webkit-box-shadow: 0 .1rem 1rem #d93025; 
  -moz-box-shadow: 0 .1rem 1rem #d93025;
  appearance: none;
  -webkit-appearance: none;
}

#submit-button {
  background-color: #00e6bf;
  font-weight: bold;
  border: 0;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  text-transform: uppercase;
  padding: 1rem 2rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 15px 30px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  text-shadow: 1px 1px rgba(14, 30, 37, 0.32);
}

#submit-button:hover {
  background-color: #00C9A7;
  cursor: pointer;
}

.calculator label,
#result span {
  font-weight: bold;
}

#result span {
  font-size: 1.2rem;
}

#height-enter,
#weight-enter {
  margin-top: 0;
  margin-bottom: 1rem;
}

footer {
  background-color: #000000d0;
  color: #fff;
}

@media only screen and (max-width: 1000px) {
  .calculator {
    width: 40%;
  }
}

@media only screen and (max-width: 700px) {

  .calculator {
    width: 80%;
  }

  .calculator h1 {
    font-size: 1.5rem;
  }

  /* .calculator,
  .calculator input,
  #submit-button {
    border-radius: 0;
    -webkit-border-radius: 0;
  } */
}
